# Copier en .env et adapter
MLFLOW_TRACKING_URI=sqlite:///mlflow.db
MLFLOW_EXPERIMENT_NAME=adult-income

# Uniquement nécessaire pour `make publish-model` / `make deploy-space`
HF_TOKEN=
HF_MODEL_REPO=ton-compte/adult-income-classifier
HF_SPACE_REPO=ton-compte/adult-income-classifier-demo
